[submodule "vendor/migen"]
	path = vendor/migen
	url = https://github.com/m-labs/migen
[submodule "vendor/pythondata-software-picolibc"]
	path = vendor/pythondata-software-picolibc
	url = https://github.com/litex-hub/pythondata-software-picolibc
[submodule "vendor/pythondata-software-compiler_rt"]
	path = vendor/pythondata-software-compiler_rt
	url = https://github.com/litex-hub/pythondata-software-compiler_rt
[submodule "vendor/litedram"]
	path = vendor/litedram
	url = https://github.com/enjoy-digital/litedram
[submodule "vendor/litescope"]
	path = vendor/litescope
	url = https://github.com/enjoy-digital/litescope
[submodule "vendor/litespi"]
	path = vendor/litespi
	url = https://github.com/litex-hub/litespi
[submodule "vendor/pythondata-cpu-vexriscv"]
	path = vendor/pythondata-cpu-vexriscv
	url = https://github.com/litex-hub/pythondata-cpu-vexriscv
[submodule "vendor/litex"]
	path = vendor/litex
	url = https://github.com/enjoy-digital/litex
[submodule "vendor/pythondata-cpu-vexriscv_smp"]
	path = vendor/pythondata-cpu-vexriscv_smp
	url = https://github.com/litex-hub/pythondata-cpu-vexriscv_smp
